/glftpd
/glftpd/
/archive/
glftpd/
etc/nginx/.htpasswd
etc/nginx/auth.d/*.conf
etc/nginx/http.d/*.conf
src/config.php
src/ui/config.php
lib/ui/fontawesome-free-6.1.2-web/
templates/README.md
.env
*.bak
*.crt
*.key
*.swp
*.tmp
pyspy-*.sha512sum
pyspy-*.tar.gz
pywho-*.sha512sum
pywho-*.tar.gz
