<!DOCTYPE html>
<html lang="en">
<head>
  <title>ABOUT</title>
</head>
<body style="background-color:lightgray;">
<pre class="about">
<span style="color:brown">
                                                                    <strong>_</strong>
                                                ____ _  ___    __ <strong>(___)</strong>______ __</span>
        <span style="color:gray">-------------------------</span><span style="color:brown">,</span><span style="color:gray">-------------</span><span style="color:brown">/       |   \  |   |   |         \\</span><span style="color:gray">--------------------------------------</span>
        <span style="color:brown">                LOLHY  <strong>_/\</strong>             \    __ |    |_|   |   |_     ___//</span>
        <span style="color:brown">                  \   <strong>(._.)</strong>        _____\    \ |          |   | |    ||</span>
        <span style="color:brown">                     <strong>(_____)</strong>      ( _____\    \|    | |   |   | |    ||</span>
        <span style="color:brown">                    <strong>(_______)</strong>      (           \    | |   |   | |    ||</span>
        <span style="color:gray">------------------------------------</span><span style="color:brown">\_____ _ ___)___) |_ _)___) |__ _))</span><span style="color:gray">----------------------------------V5-----</span>

<span style="color:black">

                                       . a . s h i t t y . w e b . f r a m e w o r k .


                    SHIT was build using the following ultimate cutting-edge webtech:

                      - PHP
                      - nginx and php-fpm
                      - some JQuery
                      - fontawesome 
                      - Bootstrap4

                    This glftpd webui was originally based on SHIT :)
        
                    It can do user management, shows online users, glftpd status, stops/starts glftpd container
                    and can be used to view logs, edit config files and browse site. Also has a browser terminal
                    that displays tools like gl_spy, useredit and bot partyline (using websockets).

                    Additional tools and libs used:

                      Tiny File Manager offline mode (filemanager.github.io)
                      GoTTY web terminal (github.com/sorenisanerd/gotty)
                      gltool.sh bash (github.com/silv3rr/scripts)
                      pyspy flask mode (github.com/silv3rr/pyspy)
                      pywho (github.com/silv3rr/pywho)



</pre>
</span>