<?php

/*---------------------------------------------------------------------------*
*   GLFTPD:WEBUI configuration
*---------------------------------------------------------------------------*/

// for theme button colors see:
//  - https://getbootstrap.com/docs/4.0/components/buttons/
//  - plus these extra colors: 'custom', 'purple', 'gray'

return $cfg = array(
    'auth'                  => "basic",
    'mode'                  => "docker",
    'show_alerts'           => true,
    'show_more_options'     => true,
    'auto_scroll'           => false,
    'max_items'             => 10,
    'debug'                 => 0,
    'http_auth'             => ['username' => 'shit', 'password' => 'EatSh1t'],
    'glftpd_auth'           => ['check_siteop' => true, 'check_ip_mask' => true ],
    'spy'                   => ['show' => true, 'refresh' => true],
    'modal'                 => array(
                                'commands'   => false,
                                'sitewho'    => true,
                                'userstats'  => false,
                                'all_stats'  => true,
                            ),
    'theme'                 => array(
        'title'             => '<em class="fa-solid fa-left-right"></em>
                                <span style="font-weight:bold;color:#5456c5;">GLFTPD</span>:
                                <span style="text-decoration:underline;text-decoration-color:lightblue;">
                                COMMAND CENTER</span>',
        'btn-color-1'       => 'primary',
        'btn-color-2'       => 'secondary',
        'btn-small-color'   => 'gray',
    ),

    'services' => array(
        "glftpd" => ['host' => "localhost", 'port' => "1337"],
        "sitebot" => ['host' => "localhost", 'port' => "3333"],
    ),

    'docker' => array(
        'api'               => "http://localhost/v1.44",
        'glftpd_container'  => "glftpd",
        'web_container'     => "glftpd-web",
        'bin_dir'           => "/glftpd/bin",
    ),

    'local' => array(
        'runas'             => "/usr/bin/sudo -n -u root",
        'bin_dir'           => "/usr/local/bin",
        'glftpd_dir'        => "/glftpd",
        'glftpd_etc'        => "/etc",
        'glftpd_conf'       => "glftpd.conf",
        'env_bus'           => "",  /* "/usr/bin/env SYSTEMCTL_FORCE_BUS=1" */
    ),

    'filemanager' => array(
        'Glftpd Site'       => ['type' => 'dir'],
        'Web Files'         => ['type' => 'dir'],
        'glftpd.conf'       => ['type' => 'file', 'mode' => 'edit'],
        'eggdrop.conf'      => ['type' => 'file', 'mode' => 'edit'],
        'ngBot.conf'        => ['type' => 'file', 'mode' => 'edit'],
        'config.php'        => ['type' => 'file', 'mode' => 'edit'],
        /* 'myfile.txt'        => ['type' => 'file', 'mode' => 'view', 'path' => "/path/to/myfile/"], */
    ),

    'buttons' => array(
        'Glftpd' => array(
            'Status'        => ['cmd' => 'glftpd_status'],
            'Start'         => ['cmd' => 'glftpd_start'],
            'Stop'          => ['cmd' => 'glftpd_stop'],
            'Restart'       => ['cmd' => 'glftpd_restart'],
        ),
        'Docker' => array(
            'Create'        =>  ['cmd' => 'docker_create_glftpd', 'disabled' => true ],
            'Inspect'       =>  ['cmd' => 'docker_inspect_glftpd'],
            'Top'           =>  ['cmd' => 'docker_top_glftpd'],
            'Kill'          =>  ['cmd' => 'docker_kill_glftpd'],
            'Tail logs'     =>  ['cmd' => 'docker_tail_glftpd'],
            'View logs'     =>  ['cmd' => 'docker_logs_glftpd'],
        ),
        'Terminal' => array(
            'sitewho'       => ['cmd' => 'pywho', 'sep' => true ],
            'telnet bot'    => ['cmd' => 'tty_eggdrop', 'sep' => true ],
            'useredit'      => ['cmd' => 'tty_useredit'],
            'gl_spy'        => ['cmd' => 'tty_glspy'],
            'py_spy'        => ['cmd' => 'tty_pyspy', 'sep' => true ],
            'close tty'     => ['cmd' => 'kill_gotty', 'sep' => true ],
        ),
    ),

    'stats' => array(
        'commands' => array(
            'DAYUP'         => ['cmd' => 'usertop_raw', 'stat' => 'DAYUP',   'show' => 1],
            'WKUP'          => ['cmd' => 'usertop_raw', 'stat' => 'WKUP',    'show' => 1],
            'MONTHUP'       => ['cmd' => 'usertop_raw', 'stat' => 'MONTHUP', 'show' => 2],
            'ALLUP'         => ['cmd' => 'usertop_raw', 'stat' => 'ALLUP',   'show' => 1],
            'DAYDN'         => ['cmd' => 'usertop_raw', 'stat' => 'DAYDN',   'show' => 0],
            'WKDN'          => ['cmd' => 'usertop_raw', 'stat' => 'WKDN',    'show' => 0],
            'MONTHDN'       => ['cmd' => 'usertop_raw', 'stat' => 'MONTHDN', 'show' => 0],
            'ALLDN'         => ['cmd' => 'usertop_raw', 'stat' => 'ALLDN',   'show' => 0],
            'NUKE'          => ['cmd' => 'usertop_raw', 'stat' => 'NUKE',    'show' => 0],
            'GDAYUP'        => ['cmd' => 'grouptop_raw', 'stat' => 'DAYUP',   'show' => 1],
            'GWKUP'         => ['cmd' => 'grouptop_raw', 'stat' => 'WKUP',    'show' => 1],
            'GMONTHUP'      => ['cmd' => 'grouptop_raw', 'stat' => 'MONTHUP', 'show' => 1],
            'GALLUP'        => ['cmd' => 'grouptop_raw', 'stat' => 'ALLUP',   'show' => 1],
            'GDAYDN'        => ['cmd' => 'grouptop_raw', 'stat' => 'DAYDN',   'show' => 0],
            'GWKDN'         => ['cmd' => 'grouptop_raw', 'stat' => 'WKDN',    'show' => 0],
            'GMONTHDN'      => ['cmd' => 'grouptop_raw', 'stat' => 'MONTHDN', 'show' => 0],
            'GALLDN'        => ['cmd' => 'grouptop_raw', 'stat' => 'ALLDN',   'show' => 0],
        ),
        'options' => array(
            'max_pos'       => 20,
            'color'         => 'darkgreen',
        ),
    ),

    'palette' => array(
        'default' => array(
            '#a9d6e5',
            '#89c2d9',
            '#61a5c2',
            '#468faf',
            '#2c7da0',
            '#2a6f97',
        ),
        'lightblue' => array(
            '#caf0f8',
            '#ade8f4',
            '#90e0ef',
            '#48cae4',
            '#00b4d8',
            '#0096c7',
            '#0077b6',
            '#023e8a',
        ),
        'darkgreen' => array(
            '#dde7c7',
            '#c2c5aa',
            '#a4ac86',
            '#6d8257',
            '#656d4a',
            '#b6ad90',
            '#dad7cd',
        ),
    ),

);
